package app

templ DashboardPage() {
	@appLayout([]breadcrumb{
		{title: "Dashboard", href: "/app"},
	}) {
		<div class="p-4">
			<p>TODO: dashboard</p>
			<ul class="mt-3">
				<li><a href="/app/monitors">Monitors</a></li>
			</ul>
		</div>
	}
}
