package components

import "github.com/alexpls/untils/internal/components/icons"

// Breadcrumb represents a navigation breadcrumb
type Breadcrumb struct {
	Title, Href string
}

templ BreadcrumbView(b Breadcrumb) {
	@icons.ChevronRight(icons.IconParams{Size: 16})
	<a href={ b.Href } class="hover:bg-base-200 rounded p-2 px-1 md:px-3 transition-colors">
		{ b.Title }
	</a>
}
