package dev

import "github.com/alexpls/untils/internal/components"
import "github.com/alexpls/untils/internal/monitor"

templ PalettePage() {
	@components.AppLayout("Palette", []components.Breadcrumb{
		components.Breadcrumb{
			Title: "Palette",
			Href:  "/app/palette",
		},
	}) {
		<div class="p-4">
			@example("InProgressCheckTimelineItem") {
				<ul>
					@monitor.InProgressCheckTimelineItem(*stubbedInProgressCheckTimelineItemData())
				</ul>
			}
		</div>
	}
}

templ example(title string) {
	<h2 class="text-xl font-bold mt-3">{ title }</h2>
	<div class="max-w-sm border border-base-content/20 mt-2">
		{ children... }
	</div>
}
