package dev

import (
	"github.com/alexpls/untils/internal/components"
	"github.com/alexpls/untils/internal/monitor"
)

templ PalettePage() {
	@components.AppLayout("Palette", []components.Breadcrumb{
		components.Breadcrumb{
			Title: "Dev",
			Href:  "#noop",
		},
		components.Breadcrumb{
			Title: "Palette",
			Href:  "/app/dev/palette",
		},
	}) {
		<div class="p-4">
			@example("Schedule") {
				@monitor.SchedulePicker("")
			}
			@example("InProgressCheckTimelineItem") {
				<ul>
					@monitor.InProgressCheckTimelineItem(*fixtureInProgressCheckTimelineItemData())
				</ul>
			}
		</div>
	}
}

templ example(title string) {
	<h2 class="text-xl font-bold mt-3">{ title }</h2>
	<div class="max-w-sm border border-red-500/40 border-dashed mt-2">
		{ children... }
	</div>
}
